.section{
    margin-top: 100px;

}
.heads h3{
    font-weight: 600;
    color:#b3b3b3;
}
.projects{
    font-weight:700;

}
.line2{
        width: 300px;
        height: auto;
        transform: rotate(180deg);
        float: right;
        margin-top:-7%
}
.img3{
    z-index: -2;
}
